<div ng-controller="MainCtrl as main">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <a class="navbar-brand" ui-sref="main">FamilyFinance</a>
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" ui-sref="main.transaction">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="main.category">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="main.reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="main.upload">Upload Report</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <md-button class="md-raised"  ng-click="main.logout()">Logout</md-button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div ui-view></div>
    </div>

</div>