<div ng-controller="CategoryController as ctrl">
    <div class="col-md-6">
        <h1>Categories</h1>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input type="text" class="form-control" placeholder="Search Category"
                           ng-model="searchCategory">
                </div>
            </div>
        </form>

        <div class="form-group">
            <div class="input-group">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default"
                                            ng-click="ctrl.addNewCategory()"
                                            type="button"
                                    >
                                        <i class="fa fa-plus"></i> Add New
                                    </button>
                                  </span>
                <input type="text"
                       class="form-control"
                       placeholder="Category Name"
                       ng-model="ctrl.newCategory.name"
                       ng-keydown="$event.which === 13 && ctrl.addNewCategory()">
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-sm-3">
                    <a ng-click="ctrl.sortType = 'name'; ctrl.sortReverse = !ctrl.sortReverse">
                        Name
                        <span ng-if="ctrl.sortType == 'name' && !ctrl.sortReverse" class="fa fa-caret-up"></span>
                        <span ng-if="ctrl.sortType == 'name' && ctrl.sortReverse" class="fa fa-caret-down"></span>
                    </a>
                </th>
                <th class="col-sm-1">Functions</th>
            </tr>
            </thead>
            <tbody ng-repeat="category in ctrl.categories
                | orderBy:sortType:sortReverse
                | filter:searchCategory
                as filteredCategories
                track by category.id"
                   ng-include="ctrl.templates.editCategory"
                   ng-controller="EditCategoryController as editCtrl"
                   ng-init="category"
            ></tbody>
        </table>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="form-group">
            <div ng-if="!ctrl.isIdentificating">
                <button class="btn btn-lg btn-danger"
                        ng-click="ctrl.runIdentification()"
                ><i class="fa fa-tasks"></i> Run Category Identification
                </button>

            </div>
            <div ng-if="ctrl.isIdentificating">
                <button class="btn btn-lg btn-danger "
                        disabled="disabled"
                ><i class="fa fa-spinner fa-spin"></i> Running...
                </button>

            </div>
        </div>
    </div>
</div>