<tr>
    <td class="col-md-5">
        <div class="text-left"
             ng-if="!editCtrl.isEdit"
             ng-click="editCtrl.toggleEdit(category)"
        >
            {{ editCtrl.category.name }}
        </div>
        <div class="input-group" ng-if="editCtrl.isEdit">
            <i class="input-group-btn">
                <button class="btn btn-default"
                        ng-click="editCtrl.saveCategory()"
                >
                    <i class="fa fa-check"></i>
                </button>
            </i>
            <i class="input-group-btn">
                <button class="btn btn-default"
                        ng-click="editCtrl.toggleEdit()"

                >
                    <i class="fa fa-ban"></i>
                </button>
            </i>
            <input type="text"
                   class="form-control"
                   ng-model="editCtrl.category.name"
                   ng-keyup="$event.keyCode == 13 && editCtrl.saveCategory()"
            >
        </div>
    </td>
    <td class="col-md-1">
        <div class="row-fluid">
            <button class="btn btn-sm btn-default fa fa-close"
                    title="delete"
                    ng-click="editCtrl.deleteCategory()"
            ></button>
        </div>
    </td>
</tr>