<form class="form-horizontal" novalidate name="form" ng-submit="submit()">
    <div id="date" class="input-append">
        <input data-format="dd.MM.yyyy" type="text" id="input1" name="input1">
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>
    </div>
</form>
