<div ng-controller="LoginCtrl as login" layout="column" layout-padding ng-cloak>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center">FamilyFinance</h1>
                <h2 class="text-center login-title">Sign in to continue</h2>
                <div class="account-wall">
                    <form class="form-signin">
                        <input type="text" class="form-control" placeholder="Login" required autofocus
                               ng-model="login.credentials.login">
                        <input type="password" class="form-control" placeholder="Password" required
                               ng-model="login.credentials.password">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login.submit()">
                            Sign in
                        </button>
                        <!--<label class="checkbox pull-left">-->
                        <!--<input type="checkbox" value="remember-me">-->
                        <!--Remember me-->
                        <!--</label>-->
                        <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                    </form>
                </div>
                <!--<a href="#" class="text-center new-account">Create an account </a>-->
            </div>
        </div>
    </div>

</div>

