<div ng-controller="ReportingController as ctrl">
    <div class="row container-fluid">
        <h3 class="text-center">Reports</h3>
        <!--DatePickers-->
        <div class="form-inline">
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="fromDate" class="on-top">From</label>
                    <md-datepicker id="fromDate" ng-model="ctrl.filterDate.fromDate" md-placeholder="from date">
                    </md-datepicker>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="toDate" class="on-top">To</label>
                    <md-datepicker id="toDate" ng-model="ctrl.filterDate.toDate" md-placeholder="to date">
                    </md-datepicker>
                </div>
            </div>
        </div>
        <br><br>
        <!--Buttons-->
        <div class="form-inline">
            <div class="form-group">
                <button class="btn btn-primary" ng-click="ctrl.loadReportForPeriod()">
                    <span class="fa fa-load"></span> Load Reports For Period
                </button>
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-default"
                        ng-click="ctrl.changeChartType()"
                >
                    <span ng-class="{'fa fa-pie-chart': !ctrl.isBar, 'fa fa-bar-chart': ctrl.isBar }"></span>
                    Change Chart Type
                </button>
            </div>

        </div>
    </div>
    <br>
    <hr>
    <h4>Expenses</h4>
    <nvd3 options="ctrl.options" data="ctrl.report.expenses"></nvd3>
    <hr>
    <h4>Revenues</h4>
    <nvd3 options="ctrl.options" data="ctrl.report.revenues"></nvd3>
    <hr>
</div>