.short-text {
    font-size: 12px;
    line-height: 16px;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.long-text {
    font-size: 12px;
    line-height: 16px;
    width: 600px;
    overflow: inherit;
    height: auto;
    text-overflow: ellipsis;
}

.center-screen {
    position: absolute;
    top: 30%;
    left: 42%;
}

.my-drop-zone {
    border: dotted 3px lightgray;
    height: 100px;
    width: 100%;
    display: table;
}

.span-drop-zone {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.nv-file-over {
    border: dotted 3px red;
}

.amt-negative {
    color: red;
}
.amt-positive {
    color: green;
}
.amt-zero {
    color: darkblue;
}

.on-top{
    margin-top: 5px;
}