<div ng-controller="TransactionController as txCtrl">
    <div class="container-fluid">
        <div class="row">
            <h3 class="text-center">Transactions</h3>
            <div class="col-sm-8">
                <div ng-include="txCtrl.templates.dateFilter"
                     ng-controller="DateFilterController as dfCtrl"
                ></div>
                <br><br>
                <!--Buttons-->
                <div class="form-inline">
                    <div class="form-group">
                        <button ng-if="!txCtrl.isNewRequested" class="btn btn-success"
                                ng-click="txCtrl.toggleNewTransaction()">
                            <span class="fa fa-plus"> </span> New
                        </button>
                        <button ng-if="txCtrl.isNewRequested" class="btn" style="background: gray; color: whitesmoke"
                                ng-click="txCtrl.toggleNewTransaction()">
                            <span class="fa fa-close"> </span> Cancel
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="txCtrl.loadTransactions()">
                            <span class="fa fa-search"></span> Filter
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            </div>

            <div class="col-md-3">
                <div ng-include="txCtrl.templates.summary" ng-init="filteredTransactions"></div>
                <div>
                    <button class="btn btn-lg btn-success"
                            ng-click="txCtrl.approveAll()"
                    ><i class="fa fa-check-circle-o"></i> Approve All
                    </button>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary"
                            ng-click="txCtrl.refresh()"
                    ><i class="fa fa-undo"></i> Refresh
                    </button>
                </div>
            </div>
        </div>


        <form>
            <h4>Search by</h4>
            <div class="form-group col-xs-2 col-md-2">
                <label class="control-label" for="byDescription">Description</label>
                <input id="byDescription" type="text" class="form-control"
                       ng-model="txCtrl.searchTransaction.description"/>
            </div>

            <div class="form-group col-xs-2 col-md-2">
                <label class="control-label" for="byCategory">Category</label>
                <select class="form-control" id="byCategory" ng-model="txCtrl.searchTransaction.categoryId">
                    <option ng-repeat="category in txCtrl.categories" value="{{category.id}}">
                        {{category.name}}
                    </option>
                </select>
            </div>
            <div class="form-group col-xs-2 col-md-2">
                <label class="control-label">Category Approved</label>
                <br>
                <button class="btn btn-default fa fa-toggle-on"
                        aria-label="Category Approved"
                        ng-if="txCtrl.searchTransaction.categoryApproved"
                        ng-click="txCtrl.toggleCategoryApproved()"></button>

                <button class="btn btn-default fa fa-toggle-off"
                        aria-label="Category Approved"
                        ng-if="!txCtrl.searchTransaction.categoryApproved || txCtrl.searchTransaction.categoryApproved == undefined"
                        ng-click="txCtrl.toggleCategoryApproved()"></button>

                &nbsp;<span class="btn btn-sm btn-default fa fa-repeat"
                            title="Reset Filter" ng-click="txCtrl.resetFilter()"></span>
            </div>
        </form>

        <table class="table table-stripped table-bordered">
            <thead>
            <tr>
                <th style="width: 15%">
                    <a ng-click="txCtrl.sortType = 'executionDate'; txCtrl.sortReverse = !txCtrl.sortReverse">
                        Execution Date
                    <span ng-show="txCtrl.sortType == 'executionDate' && !txCtrl.sortReverse"
                          class="fa fa-caret-up"></span>
                    <span ng-show="txCtrl.sortType == 'executionDate' && txCtrl.sortReverse"
                          class="fa fa-caret-down"></span>
                    </a>
                </th>
                <th style="width: 10%">
                    <a ng-click="txCtrl.sortType = 'amount'; txCtrl.sortReverse = !txCtrl.sortReverse">
                        Amount
                        <span ng-show="txCtrl.sortType == 'amount' && !txCtrl.sortReverse"
                              class="fa fa-caret-up"></span>
                        <span ng-show="txCtrl.sortType == 'amount' && txCtrl.sortReverse"
                              class="fa fa-caret-down"></span>
                    </a>
                </th>
                <th style="width: 40%">
                    <a ng-click="txCtrl.sortType = 'description'; txCtrl.sortReverse = !txCtrl.sortReverse">
                        Description
                    <span ng-show="txCtrl.sortType == 'description' && !txCtrl.sortReverse"
                          class="fa fa-caret-up"></span>
                    <span ng-show="txCtrl.sortType == 'description' && txCtrl.sortReverse"
                          class="fa fa-caret-down"></span>
                    </a>
                </th>
                <th style="width: 20%">
                    <a ng-click="txCtrl.sortType = 'categoryId'; txCtrl.sortReverse = !txCtrl.sortReverse">
                        Category
                    <span ng-show="txCtrl.sortType == 'categoryId' && !txCtrl.sortReverse"
                          class="fa fa-caret-up"></span>
                    <span ng-show="txCtrl.sortType == 'categoryId' && txCtrl.sortReverse"
                          class="fa fa-caret-down"></span>
                    </a>
                </th>
                <th style="width: 15%">
                    Functions
                </th>
            </tr>
            </thead>
            <tr ng-if="txCtrl.isNewRequested"
                ng-include="txCtrl.templates.newTransaction"
                ng-init="init(txCtrl.categories)"
                ng-controller="NewTransactionController as newTxCtrl"
            ></tr>

            <tbody ng-repeat="transaction in txCtrl.transactions
                | orderBy:txCtrl.sortType:txCtrl.sortReverse
                | filter:txCtrl.searchTransaction
                as filteredTransactions"
                   ng-include="txCtrl.templates.transactionRow"
                   ng-init="init(transaction, txCtrl.categories)"
                   ng-controller="TransactionRowController as rowCtrl"
                   repeat-done="txCtrl.setIsLoading(false)"
                   repeat-start="txCtrl.setIsLoading(true)"
                   ng-hide="isLoading == true">
            </tbody>
            <tbody ng-hide="isLoading == false">
            <tr>
                <td colspan="5"><span><img src="assets/img/table-loader.gif"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
