<!--DatePickers-->
<div class="form-inline">
    <div class="form-group">
        <div class="col-sm-2">
            <label for="minusMonth" class="on-top">- Month</label>
            <span id="minusMonth" class="btn btn-default fa fa-arrow-left" ng-click="dfCtrl.minusMonth()"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label for="fromDate" class="on-top">From</label>
            <md-datepicker id="fromDate" ng-model="dfCtrl.filterDate.fromDate" md-placeholder="from date">
            </md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label for="toDate" class="on-top">To</label>
            <md-datepicker id="toDate" ng-model="dfCtrl.filterDate.toDate" md-placeholder="to date">
            </md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label for="plusMonth" class="on-top">+ Month</label>
            <span id="plusMonth" class="btn btn-default fa fa-arrow-right" ng-click="dfCtrl.plusMonth()"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4">
        <label for="period" class="on-top">For Period</label>
        <select id="period" class="form-control" ng-model="dfCtrl.chosenPeriod" ng-change="dfCtrl.setPeriod()">
            <option ng-repeat="period in dfCtrl.periods" value="{{period}}">
                {{period}}
            </option>
        </select>
    </div>
</div>
<br>
