<tr>
    <td>
        <md-datepicker ng-model="newTxCtrl.newTransaction.executionDate"></md-datepicker>
    </td>
    <td>
        <input type="number" class="form-control" ng-model="newTxCtrl.newTransaction.amount">
    </td>
    <td>
        <textarea class="form-control" ng-model="newTxCtrl.newTransaction.description"></textarea>
    </td>
    <td>
        <div class="text-center">
            <select class="form-control" id="byCategory" ng-model="newTxCtrl.newTransaction.categoryId">
                <option ng-repeat="category in newTxCtrl.categories" value="{{category.id}}">
                    {{category.name}}
                </option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-inline">
            <div class="btn-group btn-group-sm" role="group">

                <button type="button" class="btn btn-success fa fa-save"
                        ng-click="newTxCtrl.save()">
                </button>

                <button type="button" class="btn btn-default fa fa-close"
                        ng-click="newTxCtrl.toggleEdit()">
                </button>

            </div>
        </div>
    </td>
</tr>