<div layout="row">
    <h4>Search by</h4>
</div>
<md-content layout-padding>
    <div layout="row" layout-align="space-around center">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Description</label>
            <input id="byDesc" type="text" class="form-control" placeholder="Description"
                   ng-model="tx.searchTransaction.description"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Category</label>
            <md-select id="byCat" ng-model="tx.searchTransaction.category.name">
                <md-option ng-repeat="category in tx.categories" value="{{category.name}}"
                >
                    {{category.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Category Approved</label>
            <md-switch class="md-primary" id="byUnapprooved" ng-model="tx.searchTransaction.categoryApproved"
                       aria-label="Category Approved">
            </md-switch>
        </md-input-container>
    </div>
</md-content>