<!--Summary-->
<table class="table table-hover table-striped"  ng-controller="SummaryController as summaryCtrl">
    <thead>
    <td colspan="2"><b>Summary</b></td>
    </thead>
    <tr>
        <td ><b>From</b></td>
        <td >
            {{filteredTransactions.length}} {{filteredTransactions.length == 1 ? "transaction" :
            "transactions"}}
        </td>
    </tr>
    <tr>
        <td style="color: forestgreen"><b>Revenues</b></td>
        <td style="color: forestgreen">{{summaryCtrl.revenues() | number:'2'}}</td>
    </tr>
    <tr>
        <td class="text-danger"><b>Expenses</b></td>
        <td class="text-danger">{{summaryCtrl.expenses() | number:'2'}}</td>
    </tr>
    <tr>
        <td><b>Balance</b></td>
        <td>{{summaryCtrl.balance() | number:'2'}}</td>
    </tr>
</table>