<tr>
    <td>
        <div class="text-center">{{ rowCtrl.transaction.executionDate | date:'dd.MM.yyyy'}}</div>
    </td>
    <td>
        <div class="text-center"
             ng-class="{
             'amt-negative': rowCtrl.transaction.amount < 0,
             'amt-positive': rowCtrl.transaction.amount > 0,
             'amt-zero' : rowCtrl.transaction.amount == 0
             }">
            {{ rowCtrl.transaction.amount | number : 2}}
        </div>
    </td>
    <td>
        <div ng-class="rowCtrl.isLongDescription ? 'long-text' : 'short-text' "
             ng-click="rowCtrl.switchShow()">
            {{ rowCtrl.transaction.description }}
        </div>
    </td>
    <td ng-if="!rowCtrl.isEdit">
        <div class="text-center" ng-click="rowCtrl.toggleEdit()">
            {{rowCtrl.getCategoryName()}}
        </div>
    </td>
    <td ng-if="rowCtrl.isEdit">
        <div class="text-center">
            {{rowCtrl.transaction.category == 0 ? "-" :rowCtrl.transaction.category.name}}
            <select class="form-control" id="byCategory" ng-model="rowCtrl.transaction.categoryId">
                <option ng-repeat="category in rowCtrl.categories" value="{{category.id}}">
                    {{category.name}}
                </option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-inline">
            <div ng-if="!rowCtrl.isEdit" class="btn-group btn-group-sm" role="group">


                <button type="button" class="btn btn-success fa fa-check"
                        title="Approve Category"
                        ng-click="rowCtrl.approveCategory()"
                        ng-if="rowCtrl.transaction.categoryId != 0 && !rowCtrl.transaction.categoryApproved && rowCtrl.transaction.categoryId"
                >
                </button>


                <button type="button" class="btn btn-default fa fa-eraser"
                        title="Clear Category"
                        ng-click="rowCtrl.clearCategory()"
                        ng-if="rowCtrl.transaction.categoryId != 0 && rowCtrl.transaction.categoryId"
                ></button>

                <button type="button" class="btn btn-default fa fa-trash-o"
                        title="Delete Tranasction"
                        ng-click="rowCtrl.deleteTransaction()">
                </button>

            </div>

            <div ng-if="rowCtrl.isEdit" class="btn-group btn-group-sm" role="group">

                <button type="button" class="btn btn-default fa fa-save"
                        title="Save Transaction"
                        ng-click="rowCtrl.saveTransaction()"

                ></button>

                <button type="button" class="btn btn-default fa fa-ban"
                        title="Cancel"
                        ng-click="rowCtrl.toggleEdit()"

                ></button>
            </div>
        </div>
    </td>
</tr>
